<mat-card>
  <div *ngIf="!session">
      <button mat-raised-button color="primary" (click)="onStartSession()">Start Session</button>
      <div *ngFor="let extrasens of extrasenses">
          <h3><mat-icon svgIcon="face"></mat-icon> Extrasens {{extrasens.name}}(level {{extrasens.level}})</h3>
      </div>
  </div>
  <div *ngIf="session && !currentRequest">
      <button mat-raised-button color="primary" (click)="onCreateSessionRequest()">Сome up with a number</button>
      <div *ngFor="let request of session.requests">
        <h3><mat-icon svgIcon="label"></mat-icon> Request № {{request.id}} | User № {{request.user.id}} | User's number: {{request.userRequest.number}}</h3>  
        <div *ngFor="let extrasensRequest of request.extrasensRequests">
            <h4>Extrasens {{extrasensRequest.extrasens.name}}({{extrasensRequest.extrasens.level}}) | Answer: {{extrasensRequest.number}} | {{extrasensRequest.isRight}}</h4>
        </div>
      </div>
      <button *ngIf="session.requests.length > 2" mat-raised-button color="primary" (click)="onCreateSessionRequest()">Сome up with a number</button>
  </div>
  <div *ngIf="session && currentRequest">
      <form novalidate [formGroup]="formGroup" (ngSubmit)="onCreateUserRequest()" class="form-full-width form-medium-input">
          <mat-form-field>
              <input matInput type="number" placeholder="Number" formControlName="number">
          </mat-form-field>
          <button  mat-raised-button type="submit" color="primary">Check</button>
      </form>      
  </div>
  
</mat-card>